@model CatBuddy.Models.Produto

@{
    ViewData["Title"] = Model.DsNome;
}

<h1></h1>

@*Painel com foto e painel de informações*@
<div class="container">
    <div class="row">
        @*Painel da foto*@
        <div class="col">
            <img src="@Model.ImgPath" class="card-img img-thumbnail" />
        </div>

        @*Painel de informações*@
        <div class="col">
            <h4>@Html.DisplayFor(model => model.DsNome)</h4>
            <a href="#descricaoCompleta">Ver Descrição completa</a>
            <pre>@Html.DisplayFor(model => model.Descricao)</pre>
            <div><b>Preço:</b> R$ @Model.Preco</div>
            <a class="btn btn-yellow">Adicionar ao carrinho </a>
        </div>
    </div>
</div>

@* Espaçaento*@
<div class="d-block mt-4 mb-4 ">
    <hr />
</div>

@*Descrição completa*@
<div class="container" id="descricaoCompleta">
    <h4>Descrição</h4>
    <pre>@Model.Descricao</pre>
</div>

@* Espaçaento*@
<div class="d-block mt-4 mb-4 ">
    <hr />
</div>

@*Informações complementares - As informações só serão apresentadas se tiver algo salvo no banco*@
<div class="container">
    <h4>Informações complementares</h4>
    <dl class="row">
        @if (!String.IsNullOrEmpty(Model.Idade))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Idade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Idade)
            </dd>
        }
        @if (!String.IsNullOrEmpty(Model.Cor))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cor)
            </dd>
        }
        @if (!String.IsNullOrEmpty(Model.Sabor))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sabor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sabor)
            </dd>
        }
        @if (!String.IsNullOrEmpty(Model.InformacoesNutricionais))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InformacoesNutricionais)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InformacoesNutricionais)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodFornecedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodFornecedor)
        </dd>
        @if (!String.IsNullOrEmpty(Model.MedidasAproximadas))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MedidasAproximadas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MedidasAproximadas)
            </dd>
        }
        @if (!String.IsNullOrEmpty(Model.Material))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Material)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Material)
            </dd>
        }
        @if (!String.IsNullOrEmpty(Model.Composição))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Composição)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Composição)
            </dd>
        }
    </dl>
</div>



