@model IEnumerable<CatBuddy.Models.Produto>

@{
    ViewData["Title"] = "VizualizarProdutos";
    Layout = "~/Views/Shared/_Layout_Colaborador.cshtml";
}

@if (TempData["ViewBagPaginaVizualizarSucesso"] != null)
{
    <div class="alert alert-success">
        @ViewBag.AvisoPaginaVizualizarProdutos
    </div>
}

<h1 class="text-yellow font-paytone-one-regular">Lista de produtos</h1>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Produto
            </th>
            <th>
                Estoque
            </th>
            <th>
                Preço
            </th>
            <th>
                Fornecedor
            </th>
            <th>
                Categoria
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>
                        <img src="~/@item.ImgPath" style="width: 90px; height: 100px" />
                    </div>
                </td>
                <td>
                    <span>
                        <b>Código produto: </b>@Html.DisplayFor(modelitem => item.CodIdProduto) <br />
                    </span>
                    <span>
                        @Html.DisplayFor(modelItem => item.NomeProduto) <br />
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCategoria)
                </td>
                <td >
                    <a class="btn btn-warning text-white"
                       asp-action="EditarProduto"
                       asp-controller="Produto"
                       asp-route-codProduto="@item.CodIdProduto">Editar</a> |
                    <a class="btn btn-info text-white"
                       asp-action="DetalhamentoProduto"
                       asp-controller="Produto"
                       asp-route-codProduto="@item.CodIdProduto">Detalhar</a> |
                    <a class="btn btn-danger text-white"
                       asp-route-codProduto="@item.CodIdProduto">
                        Deletar
                    </a>
                    &nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>
