@using Newtonsoft.Json
@model IEnumerable<CatBuddy.Models.Produto>
@inject IHttpContextAccessor httpContext

@{
    ViewData["Title"] = "Carrinho";
    Cliente cliente = null;
    if (httpContext.HttpContext.Session.GetString("Login.Cliente") != null)
    {
        // Recebe os dados do usuário
        cliente = JsonConvert.DeserializeObject<Cliente>(httpContext.HttpContext.Session.GetString("Login.Cliente"));
    }
}

@if (cliente != null)
{
    @if (Model.Any())
    {
        <p>
            <div class="row ">
                <div class="col-10">
                    <h2 class="font-paytone-one-regular text-yellow">Carrinho</h2>
                </div>
            </div>
        </p>

        @foreach (var item in Model)
        {

            <div class="container border-bottom mt-3">
                <div class="row">
                    @*foto*@
                    <div class="col-2 ">
                        <img src="~/@item.ImgPath" width="80%" height="80%" />
                    </div>

                    @* Descricao *@
                    <div class="col-8">
                        <h4 class="font-paytone-one-regular text-yellow">@item.NomeProduto</h4>
                        <h6>@item.NomeFornecedor</h6>
                        <div class="mt-2">
                            <form asp-action="AlterarQuantidadeNosCookies" asp-controller="Produto">
                                <b>
                                    Quantidade:
                                </b>
                                <div class="btn p-0">
                                    <select asp-for="@item.QtdDeProduto" class="form-select form-select-md quantidade" data-id="@item.CodIdProduto">
                                        @for (int i = 1; i <= 10; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                                <a Class="btn btn-danger" asp-action="RemoverProduto" asp-controller="Carrinho" asp-route-id="@item.CodIdProduto">Remover item</a>
                                <input asp-for="@item.CodIdProduto" Class="visually-hidden" type="number" value="@item.CodIdProduto" />
                            </form>
                        </div>
                    </div>

                    @*Preço*@
                    <div class="col-2">
                        <div class="d-flex align-items-end flex-column mb-3">
                            <div>
                                <h4 class="font-paytone-one-regular text-yellow"><span class="text-purple">Preço <b>R$:</b></span> @item.Preco</h4>
                            </div>
                            <div>
                                <h6 class="font-paytone-one-regular text-yellow "><span class="text-purple">Subtotal <b>R$: </b></span>@item.Subtotal</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="d-flex justify-content-end">
        <a class="btn btn-yellow my-5" asp-action="Pagamento" asp-controller="Carrinho">Avançar</a>
        </div>
    }
    else
    {
        <h4 class="font-paytone-one-regular text-darkFuchsia">Nenhum produto no carrinho </h4>
    }
}
else
{
    <h4 class="font-paytone-one-regular text-darkFuchsia">Para acessar o carrinho, faça seu login </h4>
    <a asp-action="Login" asp-controller="Cliente" class="btn btn-yellow">Login</a>
}


<script>
    $(document).ready(function () {
        $('.quantidade').change(function () {
            var idProduto = $(this).data('id');
            var quantidade = $(this).val();

            $.ajax({
                url: '/Carrinho/AlterarQuantidadeNosCookies',
                type: 'POST',
                data: { codIdProduto: idProduto, qtdDeProduto: quantidade },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert('Erro ao atualizar a página, tente novamente mais tarde');
                }
            });
        });
    });
</script>
