@model IEnumerable<CatBuddy.Models.ViewItensPedido>

@{
    ViewData["Title"] = "DetalharPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-purple">Detalhar Pedido</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imgPath)
            </th>
            <th>
                Preço unitário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPedido.qtd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPedido.subtotal)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/@item.imgPath" class="card-img img-thumbnail" style="height: 80px; width: 70px" />
                </td>
                <td>
                    @item.ItemPedido.getPrecoUnitario()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPedido.qtd)
                </td>
                <td>
                    @item.ItemPedido.getSubtotal()
                </td>
            </tr>
        }
    </tbody>
</table>
