@model IEnumerable<CatBuddy.Models.Colaborador>

@{
    ViewData["Title"] = "Visualizar Colaboradores";
    Layout = "~/Views/Shared/_Layout_Colaborador.cshtml";
}
<h1>Visualizar Colaboradores</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeColaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelDeAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeColaborador)
                </td>
                <td class="cpf">
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="phone_with_ddd">
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelDeAcesso)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarColaborador", new { id = item.cod_id_colaborador }) |
                    @Html.ActionLink("Deletar", "AbrirDialogDesativaColaborador", new { id = item.cod_id_colaborador, nomeColaborador = item.nomeColaborador })
                </td>
            </tr>
        }
    </tbody>
</table>
